name: Deploy Nuxt to FTP

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Repo'yu çek
        uses: actions/checkout@v4

      - name: Node.js kur
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Bağımlılıkları kur
        run: npm install

      - name: Nuxt build (static)
        run: npx nuxt build

      - name: FTP Deploy (FTPS)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          port: 21
          local-dir: .output/public/
          server-dir: ${{ secrets.FTP_PATH }}/
          dangerous-clean-slate: true
