name: Build & Deploy Nuxt (FTP)

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Node.js kur
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Bağımlılıkları kur
        run: pnpm install --frozen-lockfile

      - name: Nuxt static generate
        run: pnpm generate

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          port: 21
          local-dir: .output/public/
          server-dir: ${{ secrets.FTP_PATH }}
          log-level: minimal
          dangerous-clean-slate: false
